// button{
//   margin-right: 1rem;
// }

// .navbar{
//   justify-content: space-between;
// }

.mat-sidenav-container {
  height: 100%;  
  background-color: white;
}

.mat-drawer, .mat-drawer-push {
  background-color: whitesmoke;
  color: #212121;

  mat-list-item {
    padding: 1rem 0;
    color: #212121;

    &:hover {
      background-color: rgb(231, 229, 229);
    }
  }

  // mat-divider{
  //   background-color: #212121;
  // }
}

// mat-sidenav-contant {
//   padding: 20px;
// }

mat-sidenav {
  min-width: 15%;
  max-width: 20%;
  box-shadow: 5px 0 5px -5px #212121;
}

button {
  padding: 5px 50px;
}

// cdk-virtual-scroll-viewport{
//   height: 100%;
//   background-color: grey;
// }