.mat-sidenav-container {
  height: 100%;  
  background-color: white;
}

.mat-drawer, .mat-drawer-push {
  background-color: whitesmoke;
  color: #212121;

  mat-list-item {
    padding: 1rem 0;
    color: #212121;

    &:hover {
      background-color: rgb(231, 229, 229);
    }
  }

}

mat-sidenav {
  min-width: 15%;
  max-width: 50%;
  box-shadow: 5px 0 5px -5px #212121;
}

button {
  padding: 5px 50px;
}