<div class="header">
  <h1>{{ title }}</h1>
</div>

<div class="objects">

  <div class="objectdiv">

    <div class="objectdiv__title">
      <h3>Shiba Inu</h3>
      <span>Dog Breed</span>
    </div>
    <div class="objectdiv__img">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="objectdiv__text">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </div>
    <div class="objectdiv__actions">
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </div>
  </div>

  <div class="objectdiv">
    
    <div class="objectdiv__title">
      <h3>Shiba Inu</h3>
      <span>Dog Breed</span>
    </div>
    <div class="objectdiv__img">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="objectdiv__text">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </div>
    <div class="objectdiv__actions">
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </div>
  </div>

  <div class="objectdiv">
    
    <div class="objectdiv__title">
      <h3>Shiba Inu</h3>
      <span>Dog Breed</span>
    </div>
    <div class="objectdiv__img">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="objectdiv__text">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </div>
    <div class="objectdiv__actions">
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </div>
  </div>

  <div class="objectdiv">
    
    <div class="objectdiv__title">
      <h3>Shiba Inu</h3>
      <span>Dog Breed</span>
    </div>
    <div class="objectdiv__img">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="objectdiv__text">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </div>
    <div class="objectdiv__actions">
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </div>
  </div>

  <div class="objectdiv">
    
    <div class="objectdiv__title">
      <h3>Shiba Inu</h3>
      <span>Dog Breed</span>
    </div>
    <div class="objectdiv__img">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="objectdiv__text">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </div>
    <div class="objectdiv__actions">
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </div>
  </div>  
  
</div>

