<div class="container">
  
  <div class="block">
    <div class="blockText">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error ad aliquid dolores. Magnam, dolor ab. Consequatur, praesentium architecto laboriosam omnis dignissimos quos. A fuga porro accusamus assumenda deserunt! Non, eaque?
      <p>Параграф1</p>
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolorem ducimus, veritatis voluptate dolores rerum reiciendis necessitatibus incidunt repellendus eligendi unde error, porro libero magnam, quo beatae earum? Dolor, ex!
    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati quos exercitationem adipisci voluptate libero. Nisi tempora voluptate ipsam a aliquid sint fugiat ratione hic vero veritatis, vitae porro necessitatibus consequatur.</span>

    <p>Параграф2</p>
    <p>Параграф3</p>

    <a [routerLink]="'/scss'" class="link">Link1</a>

    <a [routerLink]="'/scss'" class="link-2">Link2</a>

  </div>

  <div class="formix">MIXIN</div>

  

</div>
