@import './import.scss';

$fz: 40px;

$fx: 100px;

%tpl {
  box-sizing: border-box;
  padding: 20px;
  border: purple 2px dashed;
}

@mixin mix ($fx) {
  font-size: $fx;
}

.block {
  font-size: 20px;

  span {
    color: rgb(6, 49, 8);
    font-weight: bold;
    padding-bottom: 10vh;
  }

  .blockText {
    color: blue;
    font-size: 40px;
    line-height: 40px;
  }

  > p {
    color: yellowgreen;
  }
}

.link {
  color:red;
  text-decoration: none;

  &:hover {
    color:$linkColor;
    font-size: $fz;
    line-height: $fz;
  }
}

.link-2 {
  @extend %tpl;
}

.formix {
  line-height: $fx;
  @include mix(50px);
}

.triangle {
  width: 0px;
  border: 20px transparent solid;
  border-bottom: 40px green solid;
}

//=========================FLEX

body {
  font-family: Arial, Helvetica, sans-serif;
}

.fwraper {
  height: 100% !important;
  overflow: hidden;

  //FLEX
  display: flex;
  flex-direction: column;
}

.lorem {
  height: 200px;
  background-color: yellowgreen;
}

.fcontainer {
  max-width: 1100px;
  margin: 0 auto;
}

.fcontent {
  flex: 1 1 auto;
}

.footer {
  background-color: #f5f5f5;
}

.footer__row {
  display: flex;
  height: 65px;
}